#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

/* レイヤー定義を分かりやすくするために名前をつけておくと便利です */

#define MAC_BASE 0
#define WIN_BASE 1
#define MOUSE    2
#define FUNCTION 3
#define NUM      4
#define ARROW    5
#define SCROLL   6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/* SCROLLレイヤーの番号が変わったため修正 (5 -> 6) */

&trackball { scroll-layers = <6>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        bs_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        z_ctrl: z_lctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tab_fn: tab_fn {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: MAC Base (Default) */

        default_layer {
            bindings = <
&kp Q            &kp W         &kp E             &kp R             &kp T                                                     &kp Y               &kp U  &kp I             &kp O    &kp P
&kp A            &kp S         &kp D             &kp F             &kp G               &mkp MB3               &kp MINUS      &kp H               &kp J  &kp K             &kp L    &lt MOUSE ENTER
&z_ctrl LCTRL Z  &kp X         &kp C             &kp V             &kp B               &tab_fn GLOBE TAB      &kp EQUAL      &kp N               &kp M  &lt SCROLL COMMA  &kp DOT  &kp SLASH
&kp LEFT_SHIFT   &kp LEFT_ALT  &kp LEFT_COMMAND  &lt 4 LANGUAGE_2  &lt FUNCTION SPACE  &lt 2 ESCAPE           &kp BACKSPACE  &lt NUM LANGUAGE_1                                    &kp DELETE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        /* Layer 1: WINDOWS Base (ここへ移動) */

        WIN_BASE {
            bindings = <
&kp Q               &kp W         &kp E      &kp R                 &kp T                                                     &kp Y               &kp U  &kp I             &kp O    &kp P
&kp A               &kp S         &kp D      &kp F                 &kp G               &mkp MCLK              &kp MINUS      &kp H               &kp J  &kp K             &kp L    &lt MOUSE ENTER
&z_ctrl LEFT_WIN Z  &kp X         &kp C      &kp V                 &kp B               &tab_fn GLOBE TAB      &kp EQUAL      &kp N               &kp M  &lt SCROLL COMMA  &kp DOT  &kp SLASH
&kp LEFT_SHIFT      &kp LEFT_ALT  &kp LCTRL  &lt MOUSE LANGUAGE_2  &lt FUNCTION SPACE  &lt NUM ESCAPE         &kp BACKSPACE  &lt NUM LANGUAGE_1                                    &kp DELETE
            >;

            /* MOUSE=2, FUNCTION=3, NUM=4, SCROLL=6 に移動できるように修正済み */

            sensor-bindings = <&encoder_msc_down_up>;
        };

        /* Layer 2: MOUSE (旧 Layer 1) */

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                        &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &mkp MB3      &trans  &mkp MB5  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &mkp MB4  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans                                  &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        /* Layer 3: FUNCTION (旧 Layer 2) */

        FUNCTION {
            bindings = <
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                               &kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(NUMBER_5))  &kp BACKSLASH     &kp PIPE
&kp TILDE       &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &trans          &kp PERCENT  &kp CARET             &kp AMPERSAND         &kp ASTERISK          &kp SINGLE_QUOTE  &kp SEMI
&kp F1          &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7       &kp F8                &kp F9                &kp F10               &kp F11           &kp F12
&kp LEFT_SHIFT  &to MAC_BASE  &to WIN_BASE  &trans        &trans        &bt BT_CLR      &kp DELETE   &kp LC(Z)                                                                           &kp RIGHT_SHIFT
            >;

            /* &to 0 (Mac) と &to 1 (Win) に修正済み */

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        /* Layer 4: NUM (旧 Layer 3) */

        NUM {
            bindings = <
&kp STAR   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9    &kp PLUS                                     &trans                 &trans            &trans             &trans           &trans
&kp SLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &kp MINUS  &trans      &kp HOME              &kp LEFT_ARROW         &kp DOWN_ARROW    &kp UP_ARROW       &kp RIGHT_ARROW  &kp END
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp EQUAL  &trans      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE   &kp RIGHT_BRACE
&trans     &kp PERIOD    &kp NUMBER_0  &kp LANGUAGE_1  &trans     &trans      &trans                &trans                                                                       &trans
            >;
        };

        /* Layer 5: ARROW (旧 Layer 4) */

        ARROW {
            bindings = <
&trans     &kp LC(E)       &kp UP_ARROW    &kp LC(A)        &trans                         &trans  &trans  &trans  &trans  &trans
&kp LC(B)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(F)  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp END         &trans          &kp HOME         &trans     &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans          &trans          &trans           &trans     &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        /* Layer 6: SCROLL (旧 Layer 5) */

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
